body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Центрирует по вертикали */
}

.users-container {
  width: 30vw;
  min-height: 20vh;
  max-height: 60vh;
  background-color: rgba(244, 115, 49);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  color: black;
  font-size: 24px;
}

.loading {
  color: white;
  margin-bottom: 10px;
}

.error {
  color: black;
  margin-bottom: 10px;
}

.users-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

.user-card {
  background: #f9f9f9;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #cdfc68;
  color: black;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .users-container {
    width: 90vw;
    min-height: auto;
    max-height: 80vh; 
    padding: 15px;
    border-radius: 10px;
  }

  h1 {
    font-size: 20px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .user-card {
    flex-direction: column;
    align-items: flex-start;
  }
}